.contactsDescription{
    margin-top: 50px;
}

.collegeBox{
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
}