.college{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    color: white;
}
.collegeImage{
    width: 50%;
    height: 500px;
    background-color: aqua;
    background-size: cover;
}
.collegeDescription{
    width: 80%;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.collegeTitle{
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .collegeImage{
        width: 80%;
        height: 300px;
    }
}

